body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul, ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
img{
    display: block;
}

/*container*/

.container{
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/*heder*/
.page-header{
    border-bottom: 1px solid #e7e9fc;
}
.heder-container{
    display: flex;
    align-items: center;
}
.header-nav{
    display: flex;
    align-items: center;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.nav-list{
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-link{
    display: block;
    padding: 24px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.header-logo .logo-part{
    color: #2e2f42;
}
.header-logo{
    padding: 24px 0;
    margin-right: 76px;
}
.nav-link:hover,
.nav-link:focus{
    color: #404bbf;
}
.address{
    font-style: normal;
    margin-left: auto;
}
.address-list{
    display: flex;
    align-items: center;
    gap: 40px;
}
.address-link{
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-link:hover,
.address-link:focus{
    color: #404bbf;
}

/*hero*/
.section{
    background-color: #2e2f42;
    padding: 188px 0;
}
    
.section-title{
    max-width: 496px;
    margin: 0 auto;
    font-size: 56px;
    line-height: 1.08;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    line-height: 1.07;
    margin-bottom: 48px;
}
.transition{
    display: block;
    border-radius: 4px;
    padding: 16px 32px;
    padding-bottom: 188px 0;
    font-weight: 500;
    background-color: #4d5ae5;
    color: #fff;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0 auto;
}
.transition:hover,
.transition:focus{
    background-color: #404bbf;
}
/*benefits*/
.section-two{
    padding: 120px 0;
}
.section-two-title, .visually-hidden{
    font-weight: 500;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-two-list{
    display: flex;
    gap: 24px;
}
.section-two-item{
    width: calc((100% - 72px) / 4);
}
.title-two{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.section-two-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*team*/
.section-three{
    background-color: #f4f4fd;
    padding: 120px 0;
}
.section-three-title{
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    line-height: 1.11;
    text-transform: capitalize;
}
.section-three-list{
    display: flex;
    gap: 24px;
}
.section-three-item{
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4)
}
.title-text{
    padding: 32px 0;
}

.team-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}
.profession-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
/*portfolio*/
.section-four{
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-four-title{
    font-size: 36px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    line-height: 1.11;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 72px;
}
.section-four-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.section-four-item{
    width: calc((100% - 48px) / 3);
}
.four-title-text{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.functions-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.functions-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*footer*/
.page-footer{
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-logo{
    display: inline-block;
    margin-bottom: 16px;
}
.logo-part-two{
    color: #f4f4fd;
}
.advice-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}